# 数据目录
DATA_DIR=/mnt/mmcblk2p4/docker/iptv-speedtest/data

# 脚本目录
SCRIPTS_DIR=./server-deploy/scripts

# ==================== 服务配置 ====================

# 直播源获取间隔（秒），默认 1 小时
FETCH_INTERVAL=3600

# 测速间隔（秒），默认 3 分钟
TEST_INTERVAL=180

# 单个频道超时时间（秒）
TEST_TIMEOUT=5

# 直播源 URL
SOURCE_URL=https://gh-proxy.com/https://raw.githubusercontent.com/yaojiwei520/IPTV/refs/heads/main/iptv.m3u
